body,
html {
	font-family:    Verdana,Arial,Helvetica,sans-serif;
	font-size:      10pt;
	background:	    none repeat scroll 0 0 #000000;
	color:		    #FFFFFF;
    margin:         0;
    padding:        0;
}

div#container {
    width:          100%;
}

div#midpage {
    background:     #101010;
    margin-left:    75px;
    margin-right:   75px;
    clear:          both;
}

div#main {
    float:          right;
    width:          700px;
    background:     #111111;
    top:            50px;
    
}

div#sidebar {
    float:          left;
    background:     #111;
    top:            25px;
    left:           20px;
    padding:        10px;
    width:          200px;
    font-size:      9pt;
    text-align:     left;
}

div#sidebar_head {
    width:          100%;
    padding:        0;
    font-size:      9pt;
    background:     #000;
    text-align:     center;
}

div#genres {
    margin-top:     10px;
    display:        none;
}

div#artists {
    margin-top:     10px;
    display:        block;
}

div#albums {
    margin-top:     10px;
    display:        none;
}

div#header {
    height:         40px;
    padding:        10px;
    text-align:     left;
}

div#login_page {
    text-align:     center;
}

div#title {
    float:          left;
    width:          50%;
    font-size:      18px;
}

div#search {
    float:          left;
    width:          50%;
    text-align:     right;
}

div#logout {
    text-align:     left;
    font-size:      8pt;
}



table.options {
    margin: 10px auto;
    width: 250px;
}

table#login {
    margin: auto auto;
}

table#sign_up {
    margin: auto auto;
    text-align: right;
}

table#options {
    width: 250px;
    margin: auto auto;
}

p#diff_desc {
    width: 250px;
    margin: 10px auto;
}

table#manual_options {
    margin: auto auto;
    width: 250px;
    visibility: hidden;
}

span#logout {
    text-align: right;
    font-size: 8pt;
}

p#head {
    font-size: 10pt;
    font-weight: bold;
}

a:link {
	color: #DDD;
	text-decoration: none;
}

a:visited {
	color: #DDD;
	text-decoration: none;
}
