body {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
    text-align: center;
	background:	none repeat scroll 0 0 #000000;
	color:		#FFF;
}

div#container {
    display:    block;
    position:   relative;
    width:      100%;
}

div#main {
    display:    block;
}

div.sidebar {
    margin:         20px auto;
    position:       absolute;
    background:     #424242;
    top:            50px;
    left:           20px;
    padding-left:   15px;
    width:          200px;
    font-size:      10pt;
    text-align:     left;
}

div.sidebar-head {
    position:       absolute;
    top:            45px;
    left:           20px;
    width:          200px;
    font-size:      9pt;
    text-align:     center;
}

div#header {
    width:          100%;
    height:         50px;
    font-size:      9pt;
    text-align:     left;
}

div#title {
    text-size:      14pt;
    width:          50%;
}

div#search {
    text-align:     right;
}

div#logout {
    text-align:     right;
    font-size:      8pt;
}

div#genres {
    display:    block;
}

div#artists {
    display:    none;
}

div#albums {
    display:    none;
}

table.options {
    margin: 10px auto;
    width: 250px;
}

table#login {
    margin: auto auto;
}

table#sign_up {
    margin: auto auto;
    text-align: right;
}

table#options {
    width: 250px;
    margin: auto auto;
}

p#diff_desc {
    width: 250px;
    margin: 10px auto;
}

table#manual_options {
    margin: auto auto;
    width: 250px;
    visibility: hidden;
}

span#logout {
    text-align: right;
    font-size: 8pt;
}

p#head {
    font-size: 10pt;
    font-weight: bold;
}

a:link {
	color: #DDD;
	text-decoration: none;
}

a:visited {
	color: #DDD;
	text-decoration: none;
}
